// 全局


body {
	background-color: #EDEDED;
	color: #4B4B4B;
}

.uni-input-placeholder,.uni-textarea-placeholder{
	color:#ccc !important
}

// 
.prime {
	color: #2E5FFF;
}

.full-screen{
	display: flex;
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
}

//自定义按钮 
.btn {
	width: auto;
	height: 80rpx;
	line-height: 80rpx;
	font-size: 34rpx;
	
	&.prime {
		background-color: #2E5FFF;
		color: #fff;
		border: 1rpx solid #fff;
	}
	
	&.block{
		width: 100%;
		height: 80rpx;
	}
	
	&.carved{
		border: 0;
		border-radius: 0;
		padding: 0;
		margin: 0;
		background: none;
		color:  #2E5FFF;
	}
	
	&.carved[disabled]:not([type]), &.carved[disabled][type=default]{
		background-color: transparent;
	}
	
	&.carved::after{
		content:none
	}
	
	&.fixd-bottom{
		position: fixed;
		bottom: 40rpx;
		left: 40rpx;
		right: 40rpx;
		width: calc(100% - 66rpx);
	}
}

.fixd-bottom-space{
	width: 100%;
	height: 140rpx;
}

//自定义表单
.form{
	height: auto;
	padding: 20rpx 0 20rpx 0;
	
	.form-card {
		border-radius: 10rpx;
		margin-bottom: 20rpx;
		background-color: #fff;
		padding: 20rpx;
	}
	
	.from-feilds{
		
		.form-item {
			min-height: 72rpx;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid  #EDEDED;
				
			.form-item-label{
				width: 160rpx;
				font-size: 32rpx;
				color: #2E5FFF;
				&.block{
					width: 100%;
				}
				
			}
			
			.from-feild{
				
			}
		}
		
		
	}
	
	.from-controls{
		
		.form-item {
			min-height: 90rpx;
				display: flex;
				flex-direction: row;
				align-items: center;
				
				.form-item-label{
					width: 160rpx;
					font-size: 32rpx;
					
					&.block{
						width: 100%;
					}
					
					&.required::after{
						content: ' *';
						color: #ff4b4b;
						font-size: 21rpx;
					}
					
					.icon{
						
					}
					
				}
				
				.form-item-control{
					margin-left: 20rpx;
					flex: 1;
					font-size: 32rpx;
					position: relative;
				}
				
				.form-item-handle{
					margin-left: 20rpx;
					
					.iconqingchu{
						font-size: 40rpx;
						color: #ccc;
					}
				}
				
			}
	}
	
	.form-item:nth-last-child(1){
		border-bottom: none;
	}
	
	.form-item{
		&.custom{
			height: auto;
			display:block;
		}
	}
	
	textarea{
		font-size: 32rpx;
		
	}
}

//卡
.card{
	margin: 20rpx;
	padding: 20rpx;
	border-radius: 15rpx;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	
	&.prime{
		background-color: #2E5FFF;
	}
	
	>.header{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 10rpx;
	}
	
	>.content{
		
	}
	
	>.footer{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		padding-top: 10rpx;
	}
}


/** 文字溢出 **/

.omit-one {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    box-orient: vertical;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.omit-two {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    box-orient: vertical;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.omit-three {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    /*! autoprefixer: off */
    box-orient: vertical;
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

