@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('~@/static/iconfont.ttf?t=1637115448348') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weizhi1:before {
  content: "\e68e";
}

.icon-youxianji:before {
  content: "\e68f";
}

.icon-beizhu:before {
  content: "\e690";
}

.icon-xinzeng:before {
  content: "\e691";
}

.icon-gongdan:before {
  content: "\e693";
}

.icon-weixiu:before {
  content: "\e692";
}

