@font-face {font-family: "iconfont";
  src: url('~@/static/iconfont.ttf') format('truetype'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconqingchu:before {
  content: "\e616";
}

.icondagou:before {
  content: "\e602";
}

.iconadd-bold:before {
  content: "\e685";
}

.iconarrow-left-bold:before {
  content: "\e686";
}

.iconarrow-up-bold:before {
  content: "\e687";
}

.iconclose-bold:before {
  content: "\e688";
}

.iconarrow-down-bold:before {
  content: "\e689";
}

.iconminus-bold:before {
  content: "\e68a";
}

.iconarrow-right-bold:before {
  content: "\e68b";
}

.iconselect-bold:before {
  content: "\e68c";
}

.iconbianji:before {
  content: "\e63e";
}

.iconjiahao:before {
  content: "\e62f";
}

.iconarrow-right:before {
  content: "\e646";
}

.iconQRscanner:before {
  content: "\e608";
}

.iconloading:before {
  content: "\e604";
}

.iconwrong:before {
  content: "\e605";
}

.iconHeadPortraits:before {
  content: "\e606";
}

.iconshading:before {
  content: "\e607";
}

