<template>
	<view>
		<view id="akila-modal" class="uni-modal" v-if="modalShow">
			<view class="modal-bg">
				<view class="uni-modal-header">
					<view class="border-bg">
						<view class="uni-modal-header-search">
							<uni-easyinput suffixIcon="search" :styles="{ border: 'none' }" v-model="searchValue" clearable :placeholder="$t('input.location.code')" @iconClick="searchClick"></uni-easyinput>
						</view>
						<view class="uni-modal-header-right">
							<uni-icons class="uni-modal-close" :type="'close'" :color="'#8f8f94'" @click="closeClick" size="22" />
						</view>
					</view>
				</view>
				<view class="uni-modal-context">
					<scroll-view scroll-y="true" class="scroll-Y">
						<checkbox-group v-if="multiple" @change="checkboxChange">
							<uni-list>
								<uni-list-item>
									<template  v-slot:header>
										<view class="slot-box"><checkbox style="transform:scale(0.8)"></checkbox></view>
									</template >
									<template v-slot:body>
										<text  class="slot-box slot-text">自定义左侧插槽</text>
									</template>
									<template v-slot:footer>
										<uni-icons class="uni-modal-close" :type="'arrowright'" :color="'#8f8f94'" size="22" />
									</template>
								</uni-list-item>
								<uni-list-item>
									<template  v-slot:header>
										<view class="slot-box"><checkbox style="transform:scale(0.8)"></checkbox></view>
									</template >
									<template v-slot:body>
										<text  class="slot-box slot-text">自定义左侧插槽</text>
									</template>
									<template v-slot:footer>
										<uni-icons class="uni-modal-close" :type="'arrowright'" :color="'#8f8f94'" size="22" />
									</template>
								</uni-list-item>
							</uni-list>
						</checkbox-group>
						<radio-group v-else @change="radioChange">
							<uni-list  :border="false">
								<uni-list-item :ellipsis="1"  :border="false" v-for="(item, index) in childrenList" :class="(item.childrenCount < 1 && item.fatherId < 1) ? '' : ''" :clickable="item.childrenCount > 0" :key="item.id"  @click="itemClick(index)">
									<template v-slot:header>
										<view class="slot-box" @click.stop="e => radioClick(e, item)"><radio :value="item.id + ''" :checked="value == item.id" style="transform:scale(0.8)"></radio></view>
									</template >
									<template v-slot:body>
										<text  class="slot-box slot-text">{{ item.positionName }}</text>
									</template>
									<template v-slot:footer>
										<uni-icons v-if="item.childrenCount > 0" class="uni-modal-close" :type="'arrowright'" :color="'#8f8f94'" size="22" />
									</template>
								</uni-list-item>
							</uni-list>
						</radio-group>
					</scroll-view>
				</view>
				<view class="uni-modal-footer">
					<view class="uni-modal-footer-left" @click="backupParent">
						<uni-icons class="uni-modal-close" :type="'arrowleft'" :color="'#8f8f94'" size="22" />
					</view>
					<view class="uni-modal-footer-content">
						<button class="button" type="primary" @click="submitList"><text class="button-text">{{ $t('sure') }}</text></button>
					</view>
					<span class="uni-modal-footer-right"></span>
				</view>
			</view>
		</view>
		<view class="akild-modal-input">
			<view @click="showModalBox" style="height: 60rpx;line-height: 60rpx;font-size: 32rpx !important;">
				<text v-if="inputValue">{{ inputValue }}</text>
				<text v-else style="color: #ccc;">位置（必选）</text>
			</view>
			<!-- <input @click="showModalBox" @change="inputChange" :value="inputValue" :placeholder="'位置（必选）'" style="height: 60rpx;line-height: 60rpx;" /> -->
		</view>
	</view>
</template>

<script>
	export default {
		name:"akila-modal",
		props:{
			multiple: {
				type: Boolean,
				default: false
			},
			url: {
				type: String,
				default: ''
			},
			localData: {
				type: Function,
				default: () => {}
			},
			value: {
				type: String || Number,
				default: ''
				
			}
		},
		model: {
			prop: "value",
			event: "change"
		},
		data() {
			return {
				searchValue: '',
				childrenList: [],
				cacheItem: {},
				parentIndex: 0,
				modalShow: false,
				selectValue: '',
				selectItem: {},
				inputValue: undefined,
				request: this.$util.createRequest(),
				fatherId: 0,
				grandFatherIds: [0]
			};
		},
		onReady() {},
		onLoad() {},
		watch: {
			async modalShow (e) {
				if (e) {
					this.fatherId = 0
					this.searchValue = ''
					this.grandFatherIds [0]
					this.childrenList = []
					this.loadList()
				}
			}
		},
		methods: {
			async searchClick (e) {
				this.loadList()
			},
			closeClick () {
				this.modalShow = false
				this.$emit('modal-show', this.modalShow)
			},
			backupParent () {
				if (this.fatherId > 0) {
					this.loadList('backup')
				}
			},
			loadData () {
				
			},
			submitList () {
				this.$emit("change", this.selectValue)
				this.inputValue = this.selectItem.positionName
				this.modalShow = false
				this.$emit('modal-show', this.modalShow)
			},
			checkboxChange (e) {},
			radioChange (e) {
				e.preventDefault()
				this.selectValue = e.detail.value
			},
			async itemClick (index) {
				const childrenCount = this.childrenList[index].childrenCount
				if (!childrenCount) {
					console.log('无')
					return
				}
				this.fatherId = this.childrenList[index].id
				this.grandFatherIds.push(this.childrenList[index].fatherId)
				this.loadList()
			},
			radioClick (e, item) {
				this.selectItem = item
			},
			showModalBox () {
				this.modalShow = true
				this.$emit('modal-show', this.modalShow)
			},
			async loadList (type) {
				const params = {}
				if (this.searchValue) {
					params.nameOrCode = this.searchValue
				} else {
					let grandId = 0
					if (type === 'backup') {
						if (this.grandFatherIds.length === 1) {
							this.fatherId = 0
							return
						}
						grandId = this.grandFatherIds.pop()
						this.fatherId = grandId
					}
					params.fatherId = type === 'backup' ? grandId : this.fatherId
				}
				const ss = await this.localData({
					data: params,
					mask: true
				})
				this.childrenList = ss
			},
			handleListData (data) {
				const result = []
			}
		},
		async mounted() {
		}
	}
</script>

<style lang="scss" scoped>
@mixin flex {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: row;
}
.uni-modal {
	display: fixed;
	position: fixed;
	inset: 0px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: #F6F3F7!important;
	padding-top: 4px;
	box-sizing: border-box;
	font-size: 32rpx !important;
}

.modal-bg {
	width: 100%;
	height: 100%;
}

.uni-modal-header {
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	position: relative;
}

.border-bg {
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 3px;
}

.uni-modal-header-search {
	position: relative;
	width: calc(100% - 50px);
	height: 40px;
	line-height: 40px;
	float: left;
}

.uni-modal-header-right {
	width: 50px;
	height: 40px;
	line-height: 40px;
	float: left;
}

.uni-modal-close {
	position: absolute;
	right: 12px;
	top: 0px;
}

.uni-modal-footer {
	height: 45px;
	line-height: 45px;
	padding: 5px 10px 0 60px;
	position: relative;
}

.uni-modal-footer .uni-modal-footer-left {
	position: absolute;
	top: 5px;
	left: 10px;
	text-align: center;
	line-height: 35px;
	height: 35px;
	width: 35px;
	border-radius: 35px;
	background: #fff;
	padding: 0 5px;
}

.uni-modal-context {
	height: calc(100% - 90px);
}

.uni-modal-context .scroll-Y {
	height: 100%;
}

/deep/ uni-scroll-view {
	padding: 5px 10px;
	box-sizing: border-box;
}

/deep/ .is-input-border {
	margin-top: 2px;
	border: 1px solid #eee;
	border: none;
}

/deep/ .uni-scroll-view {
}

/deep/ .uni-list {
	background: none;
}

/deep/ .uni-list-item {
	margin-bottom: 5px;
	border-radius: 3px;
}

/deep/ .uni-list-item-disabled {
	background: #eee;
}

/deep/ .uni-list-item__container {
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	padding: 5px 12px;;
}

.button {
	@include flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	height: 35px;
	margin: 0 5px;
	border-radius: 35px;
}

.button-text {
	color: #fff;
	font-size: 16px;
}

.akild-modal-input {
	position: relative;
	line-height: 1.8;
}

.slot-box {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: row;
	align-items: center;
}

.slot-image {
	/* #ifndef APP-NVUE */
	display: block;
	/* #endif */
	margin-right: 10px;
	width: 30px;
	height: 30px;
}

.slot-text {
	flex: 1;
	font-size: 14px;
	color: #666;
	margin-right: 10px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

/deep/ .uni-radio-input-disable .uni-radio-input {
	background: #eee;
}

// 单选样式
/deep/ .radio__inner {
	@include flex;
	/* #ifndef APP-NVUE */
	flex-shrink: 0;
	box-sizing: border-box;
	/* #endif */
	justify-content: center;
	align-items: center;
	position: relative;
	width: 16px;
	height: 16px;
	border: 1px solid #DCDFE6;
	border-radius: 16px;
	background-color: #fff;
	z-index: 1;
	
	.radio__inner-icon {
		width: 8px;
		height: 8px;
		border-radius: 10px;
		opacity: 0;
	}
}
</style>
