<script>
	import {
		util
	} from "./lib/util/index.js"
	import {
		mapState,
		mapMutations,
		mapGetters,
		mapActions
	} from "vuex";
	var wx = require('weixin-js-sdk')
	
	export default {
		async onLaunch() {
			this.setWechatSignUrl(window.location.href.split('#')[0])
			console.log('App Launch');
			this.resetToken();
		},
		onShow: function() {
			this.setWechatSignUrl(window.location.href.split('#')[0])
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		},
		methods: {
			...mapActions('wechat', ['registSdkAsync']),
			...mapMutations('wechat', ['setWechatSignUrl']),
			...mapMutations('user', ['resetToken'])
		}
	}
</script>

<style lang="less">
	/*每个页面公共css */
	@import './css/uni.css';
	@import './css/app.less';
	@import './css/load7.less';
	@import 'https://at.alicdn.com/t/font_2394715_8nr9xc2hkkc.css';
</style>
