<template>
	<view>
		<view class="canvas-container">
			<image v-show="!dialogVisiable" :src="imageUrl" style="width: 100%; height: 200px;background-color: #FFFFFF;"></image>
			<canvas v-show="dialogVisiable" canvas-id="canvas" id="canvas" :disable-scroll="true" style="width: 100%; height: 200px;background-color: #FFFFFF;"
			 @touchstart="handleTouchStart($event)" @touchmove="handleTouchMove($event)" @touchend="handleTouchEnd($event)"
			 @touchcancel="handleEnd($event)"></canvas>
		</view>
		<view class="btn-container" v-if="dialogVisiable">
			<button class="cu-btn lg bg-blue" @click="handleConfirm()">确定</button>
			<button class="cu-btn lg line-gray" @click="reset()">重写</button>
		</view>
		<view class="btn-container" v-else>
			<button class="cu-btn lg bg-blue" @click="reset()">重写</button>
		</view>
	</view>
</template>

<script>
	var context = null
	export default {
		props: {

		},
		data() {
			return {
				dialogVisiable: true,
				canvasData: [],
				imageUrl: ""
			};
		},
		watch: {
			dialogVisiable() {
				if (this.dialogVisiable === true) {
					this.init();
				}
			},
			canvasData() {
				context.moveTo(this.canvasData[0].x, this.canvasData[0].y)
				for (let i = 0; i < this.canvasData.length; i++) {
					context.lineTo(this.canvasData[i].x, this.canvasData[i].y)
				}
				context.stroke()
				context.draw(true)
			}
		},
		mounted() {
			this.init();
		},
		methods: {
			init() {
				context = uni.createCanvasContext('canvas')
				context.setLineWidth(3)
				context.setStrokeStyle("#000000")
				this.reset()
			},
			reset() {
				this.dialogVisiable = true;
				context.draw()
			},
			hideModal() {
				this.$emit('update:dialogVisiable', false)
			},
			handleTouchStart(e) {
				this.canvasData = []
				const a = e.changedTouches[0]
				this.canvasData.push({
					x: a.x,
					y: a.y
				})
			},
			handleTouchMove(e) {
				const a = e.changedTouches[0]
				this.canvasData.push({
					x: a.x,
					y: a.y
				})
			},
			handleTouchEnd(e) {
				const a = e.changedTouches[0]
				this.canvasData.push({
					x: a.x,
					y: a.y
				})
			},
			handleEnd() {
				context.stroke()
				context.draw(true)
			},
			handleConfirm() {
				var _self = this;
				uni.canvasToTempFilePath({
					canvasId: 'canvas',
					success: res => {
						_self.imageUrl = res.tempFilePath;
						if (_self.isCanvasBlank()) {
							_self.$util.message.toast("请签字后再确认")
							return;
						}
						_self.dialogVisiable = false;
						this.$emit('success', res.tempFilePath)
					}
				})
			},
			//是否没有书写
			isCanvasBlank() {
				var canvas = document.getElementById("canvas");
				var blank = document.createElement('canvas'); //系统获取一个空canvas对象
				blank.width = canvas.firstChild.width;
				blank.height = canvas.firstChild.height;
				return canvas.firstChild.toDataURL() == blank.toDataURL(); //比较值相等则为空
			}
		}
	}
</script>

<style lang="scss" scoped>
	.canvas-container {
		width: 100%;
	}

	.btn-container {
		padding-bottom: 20rpx;
		display: flex;
		justify-content: space-around;
	}
</style>
