<template>
	<button class="btn prime block" form-type="submit" :disabled="loading">
		<text v-if="loading">{{$t('loading')}}</text>
		<slot v-else></slot>
	</button>
</template>

<script>
	export default {
		data() {
			return {
				loading: false
			}
		},
		mounted() {
			
		},
		methods: {
			play() {
				this.loading = true;
			},
			stop() {
				this.loading = false;
			}
		}
	}
</script>

<style>
</style>
