<template>
	<view class="card prime project-card" @click="projectSheet">
		<view>
			{{$t('project.name')}}:{{selectedProject&&selectedProject.name}}
		</view>
		<view>
			<text class="iconfont iconarrow-down-bold"></text>
		</view>
	</view>
</template>

<script>
	import {
		mapActions,
		mapGetters,
		mapMutations,
		mapState
	} from "vuex";

	export default {
		computed: {
			...mapState('project', {
				projectDatas: (state) => state.projectDatas,
				selectedProject: (state) => state.selectedProject,
			})
		},
		methods: {
			...mapMutations('project', ['setSelectedProject']),
			/** 项目选项卡 */
			projectSheet() {
				var btns = [{
					text: this.$t('addproject'),
					callback: this.goAddProject
				}];
				var _self = this;
				if (this.projectDatas)
					this.projectDatas.forEach(t => {
						btns.push({
							text: t.name,
							project: t,
							callback: _self.projectSheetCallback
						})
					})
				this.$util.actionSheet.open(btns);
			},
			projectSheetCallback(btn) {
				this.setSelectedProject(btn.project)
			},
			goAddProject(){
				uni.navigateTo({
					url: "/pages/user/bind-qr-scan?handle=addProject"
				})
			}
		}
	}
</script>

<style scoped lang="less">
	.project-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		color: #FFFFFF;
	}
</style>
