<!-- 相册 -->
<template>
	<view class="akila-album">
		<view class="item" v-for="item of items">
			<image :src="item" mode="aspectFill" @click="preview(item)"></image>
		</view>
	</view>
</template>

<script>
	import {
		util
	} from "../lib/util/index.js"
	export default {
		props: {
			items: {
				default () {
					return [];
				}
			}
		},
		computed: {
			utilObj() {
				return util.url.base._systemServer
			}
		},
		methods: {
			preview(item) {
				uni.previewImage({
					urls: this.items,
					current: this.items.indexOf(item)
				})
			}
		}
	}
</script>

<style scoped lang="less">
	.akila-album {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		.item {
			width: 160rpx;
			height: 160rpx;
			border-radius: 10rpx;
			margin-bottom: 20rpx;
			border: 1rpx solid #EDEDED;
			margin-right: 20rpx;

			image {
				width: 160rpx;
				height: 160rpx;
			}
		}
	}
</style>
