<template>
	<view>
		<view v-if="error" class="error-panel" @click="reload">
			<image class="error-icon" mode="aspectFit" src="../static/loading-error.png"></image>
			<text class="error-info">网络加载错误,点击重试</text>
		</view>
		<view v-else>
			<view v-if="loading">
				<akila-loading></akila-loading>
			</view>
			<view v-else>
				<slot></slot>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			loading: {
				default () {
					return false
				}
			},
			"error": {
				default () {
					return false
				}
			},
		},
		model: {
			prop: "loading",
			event: "change"
		},
		computed: {
			status() {
				if (this.loading === true) {
					return "loading";
				}
				if (this.finished === true) {
					return "noMore";
				}
				return "more";
			}
		},
		methods: {
			reload() {
				this.$emit('reload')
			}
		}
	}
</script>

<style scoped lang="less">
	.error-panel {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		.error-icon {
			width: 120rpx;
			height: 120rpx;
		}

		.error-info {
			margin-top: 40rpx;
			font-size: 34rpx;
		}
	}
</style>
