<template>
	<view class="akila-time-line">
		<view>
			<template v-for="item of items">
				<view class="akila-time-line-item" v-if="isShow(item)">
					<view class="time-line">
						<view class="line-icon iconfont icondagou"></view>
						<view class="line"></view>
					</view>
					<view class="content">
						<!-- <view class="header">{{item.header}}</view> -->
						<view class="description">{{item.description}}</view>
						<view class="footer">{{item.footer}}</view>
					</view>
				</view>
			</template>
		</view>
		<template v-if="hasExpand">
			<view class="expand">
				<text v-if="isExpand" class="iconfont iconarrow-up-bold" @tap="expandUp"></text>
				<text v-else class="iconfont iconarrow-down-bold" @tap="expandDown"></text>
			</view>
		</template>
	</view>
</template>

<script>
	export default {
		props: {
			/** 绑定数据 */
			items: {
				default () {
					return [];
				}
			},
			/** 收缩数量 */
			expandCount: {
				default () {
					return 2;
				}
			},
			/** 收缩后显示前面 否则显示后面 */
			isShowStart: {
				default () {
					return false;
				}
			},
		},
		data() {
			return {
				isExpand: false
			}
		},
		computed: {
			hasExpand() {
				if (!this.items)
					return false;
				return this.items.length > this.expandCount
			}
		},
		methods: {
			isShow(item) {
				if (this.isExpand)
					return true;
				var index = this.items.indexOf(item);
				if (this.isShowStart) {
					return index < this.expandCount;
				}
				return this.items.length - 2 <= index;
			},
			expandUp() {
				this.isExpand = false;
			},
			expandDown() {
				this.isExpand = true;
			}
		}
	}
</script>

<style scoped lang="less">
	.akila-time-line {

		.akila-time-line-item {
			display: flex;
			flex-direction: row;
			align-items: stretch;

			.time-line {
				width: 64rpx;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.line-icon {
					font-size: 50rpx;
					color: #2E5FFF;
				}

				.line {
					flex: 1;
					width: 2rpx;
					background-color: #2E5FFF;
					margin-bottom: 0rpx;
				}
			}

			.content {
				flex: 1;
				e width: 0;
				margin-left: 20rpx;
				padding: 10rpx 0;

				.header {
					color: #2E5FFF;
					line-height: 70rpx;
				}

				.description {
					padding-top: 10rpx;
				}

				.footer {
					color: #ccc;
					line-height: 40rpx;
				}
			}
		}

		.akila-time-line-item:nth-child(1) {
			.description {
				color: #2E5FFF;
			}
		}

		.akila-time-line-item:nth-last-child(1) {
			.line {
				width: 0;
			}
		}

		.expand {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50rpx;
			font-size: 40rpx;
		}
	}
</style>
