<template>
	<view class="card prime user-info-card">
		<view class="avatar">
			<view class="active-aperture">
				<image :src="userInfo.icon || '../static/avatar-default.png'" mode="aspectFit"></image>
			</view>
		</view>
		<view class="user-info">
			<view class="nickname">{{userInfo.nickName}}</view>
			<view class="phone-number">{{userInfo.phone}}</view>
		</view>
		<view class="background iconfont iconshading"></view>
	</view>
</template>

<script>
	import {
		mapActions,
		mapGetters,
		mapMutations,
		mapState
	} from "vuex";

	export default {
		computed: {
			...mapState('user', {
				userInfo: state => state.userInfo
			})
		}
	}
</script>

<style scoped lang="less">
	.user-info-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		position: relative;
		overflow: hidden;

		.avatar {
			width: 136rpx;
			height: 136rpx;
			margin: 16rpx;

			.active-aperture {
				background-color: #FFFFFF;
				border-radius: 50%;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			image {
				width: 128rpx;
				height: 128rpx;
				border-radius: 50%;
				background-color: #fff;
				border: 1rpx solid #EDEDED;
			}
		}

		.user-info {
			margin-left: 20rpx;
			color: #FFFFFF;
			font-size: 38rpx;
		}

		.background {
			position: absolute;
			right: 10rpx;
			bottom: -40rpx;
			font-size: 120rpx;
			color: #FFFFFF;
			opacity: 0.08;
		}
	}
</style>
