<template>
	<view class="content">
		<image class="logo" src="../static/load.gif" mode="aspectFit"></image>
	</view>
</template>

<script>
</script>

<style scoped>
	.content {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background: #fff;
	}
	
	.logo {
		height: 200rpx;
		width: 300rpx;
	}
</style>
