<template>
	<view>
		<view v-if="error" class="error-panel" @click="reload">
			<image class="error-icon" mode="aspectFit" src="../static/loading-error.png"></image>
			<text class="error-info">网络加载错误,点击重试</text>
		</view>
		<view v-else>
			<slot></slot>
			<uni-load-more :status="status"></uni-load-more>
		</view>
	</view>
</template>

<script>
	import UniLoadMore from "./uni-load-more/uni-load-more.vue"
	export default {
		props: {
			loading: {
				default () {
					return false
				}
			},
			finished: {
				default () {
					return false
				}
			},
			"finished-text": {
				default () {
					return "没有更多了"
				}
			},
			"error": {
				default () {
					return false
				}
			},
		},
		model: {
			prop: "loading",
			event: "change"
		},
		computed: {
			status() {
				if (this.loading === true) {
					return "loading";
				}
				if (this.finished === true) {
					return "noMore";
				}
				return "more";
			}
		},
		methods: {
			reload() {
				this.$emit('reload')
			}
		},
		components: {
			UniLoadMore
		}
	}
</script>

<style scoped lang="less">
	.error-panel {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-top: 50rpx;
		padding-bottom: 50rpx;

		.error-icon {
			width: 100rpx;
			height: 100rpx;
		}

		.error-info {
			margin-top: 40rpx;
			font-size: 34rpx;
		}
	}
</style>
