<template>
	<view>
		<akila-loading></akila-loading>
		<!-- <button class="btn block fixd-bottom" @tap="login">模拟登录成功</button> -->
	</view>
</template>

<script>
	import {
		mapState,
		mapMutations,
		mapGetters,
		mapActions
	} from "vuex";
	import {
		util
	} from "../../lib/util/index.js";
	export default {
		data() {
			return {
				state: undefined,
				request: this.$util.createRequest()
			}
		},
		computed: {
			...mapState("user", {
				wxConfig: (state) => state.wxConfig,
			}),
		},
		onLoad() {
			uni.setNavigationBarTitle({
				title: this.$t("login")
			})
			var state = this.$route.query.state;
			var returnUrl = this.$route.query.returnUrl;
			if (state) this.state = state;
			if (state === "ReturnUrl" && returnUrl) uni.setStorageSync("ReturnUrl", decodeURIComponent(returnUrl));
			console.log(returnUrl)
			var _self = this;
			// this.loginOutAsync();
			var code = this.$route.query.code;
			if (code) {
				this.codeLogin(code);
			} else {
				setTimeout(() => {
					_self.login();
				}, 300);
			}
		},
		methods: {
			...mapActions('user', ['qyCodeLoginAsync']),
			async login() {
				//return;
				//uni.navigateTo({
				//	url: "./bind-phone"
				//})
				var _self = this;
				if (!this.wxConfig) {
					setTimeout(() => {
						_self.login();
					}, 100);
					return;
				}
				var url = window.location.origin + "/pages/user/login";
				window.location.href =
					`https://open.weixin.qq.com/connect/oauth2/authorize?appid=${
						this.wxConfig.appId
					  }&redirect_uri=${escape(
						url
					  )}&response_type=code&scope=snsapi_base&state=${
						this.state
					  }#wechat_redirect`;
			},
			async codeLogin(code) {
				
				this.request.header = {
					"Content-Type": "application/json"
				}
				this.request.data = {
					code: code
				}
				var user = await this.qyCodeLoginAsync(this.request);
				if (!user) {
					// this.loginErrorRetry();
					this.$util.message.toast("登录失败")
				}
				this.success(this.state);
			},
			async success(state) {
				if (state === undefined) {
					state = "ReturnUrl"
				}
				switch (state) {
					case "ReturnUrl":
						var resultUrl = uni.getStorageSync("ReturnUrl")
						uni.redirectTo({
							url: resultUrl
						})
						break;
					default:
						
						console.log(333)
						uni.redirectTo({
							url: '/pages/workorder/index'
						})
						break;
				}
			},
		}
	}
</script>

<style>

</style>
