<!-- 工单申请页面 -->
<template>
	<view>
		<view class="form">
			<!-- 表单开始 -->
			<form @submit="submit">
				<view class="form-card">
					<view class="from-controls">
						<view class="form-item">
							<view class="form-item-label form-font-size">
								报修内容
							</view>
							<view class="form-item-handle">
								<text class="iconfont iconarrow-right"></text>
							</view>
						</view>
						<view class="form-item">
							<view style="color: #2979ff;" @click="selectWorkType">
								<picker class="form-font-size" @change="bindPickerChange" :value="index" :range="workoOrderTypeList" range-key="name">
									<view class="form-font-size">
										{{index === null ? '选择报修类型' : workoOrderTypeList[index].name}}
										<uni-icons :type="'arrowright'" color="#2979ff" />
									</view>
								</picker>
							</view>
						</view>
						<view class="form-item">
							<view class="form-card form-font-size" v-if="!modalShow" style="width: 100%; padding: 0;">
								<textarea :value="model.workOrderContent" @input="descriptionChange" :placeholder="'请描述报修内容（必填）'"
								 maxlength="400"></textarea>
								<view class="input-count">
									{{model.workOrderContent.length}}/400
								</view>
								<ss-upload-image ref="uploadImageComponent" class="upload" url="url" v-model="files" @uploadToWxSuccess="uploadToWxSuccess" />
								<text style="color: #ccc;font-size: 24rpx;">上传照片有助于报修快速处理</text>
							</view>
						</view>
					</view>
				</view>

				<view class="form-card">
					<view class="form-item">
						<view class="uni-flex uni-row form-card-item">
						    <view class="flex-item" style="width: 30px;">
								<text class="iconfont icon-weizhi1" style="font-size: 40rpx;"></text>
							</view>
						    <view class="flex-item form-card-item-border-bottom" style="width: 100%;">
								<akila-modal v-model="model.positionId" :multiple="false" :localData="getPositionList" @modal-show="showModalBox"></akila-modal>
							</view>
						    <view class="flex-item form-card-item-border-bottom" style="width: 30px;">
								<uni-icons :type="'arrowright'" color="#999" style="font-size: 40rpx;" />
							</view>
						</view>
					</view>
					
					<view class="form-item">
						<view class="uni-flex uni-row form-card-item">
						    <view class="flex-item" style="width: 30px;">
							</view>
						    <view class="flex-item form-card-item-border-bottom form-font-size" style="width: 100%;">
								<input v-model="model.workContent" :placeholder="'具体位置'" style="height: 60rpx;line-height: 60rpx;" />
							</view>
						    <view class="flex-item form-card-item-border-bottom" style="width: 30px;">
							</view>
						</view>
					</view>
				
					<view class="form-item">
						<view class="uni-flex uni-row form-card-item">
						    <view class="flex-item" style="width: 30px;">
								<text class="iconfont icon-youxianji" style="font-size: 40rpx;"></text>
							</view>
						    <view class="flex-item form-card-item-border-bottom form-font-size" style="width: 100%;">
								<picker @change="bindPickerChangeLevel" :value="levelIndex" :range="levelList" range-key="name">
									<view v-if="levelIndex === null" class="form-font-size" style="line-height: 60rpx; margin-top: 4px; color: #ccc;">
										优先级（必选）
									</view>
									<view v-else style="line-height: 60rpx;padding-top: 4rpx;">
										<text>{{levelList[levelIndex]}}</text>
									</view>
								</picker>
							</view>
						    <view class="flex-item form-card-item-border-bottom" style="width: 30px;">
								<uni-icons :type="'arrowright'" color="#999" style="font-size: 40rpx;" />
							</view>
						</view>
					</view>
					
					<view class="form-item">
						<view class="uni-flex uni-row form-card-item">
						    <view class="flex-item" style="width: 30px;">
								<text class="iconfont icon-beizhu" style="font-size: 40rpx;"></text>
							</view>
						    <view class="flex-item form-card-item-border-bottom" style="width: 100%;">
								<input v-model="model.remarks" :placeholder="'备注'" style="height: 60rpx;line-height: 60rpx;" />
							</view>
						    <view class="flex-item form-card-item-border-bottom" style="width: 30px;">
							</view>
						</view>
					</view>
				</view>

				<akila-button ref="submitBtn">{{$t('submit')}}</akila-button>
			</form>
			<!-- 表单结束 -->
		</view>
	</view>
</template>

<script>
	import {
		mapState,
		mapMutations,
		mapGetters,
		mapActions
	} from "vuex";
	import datetimepicker from "@/components/biaofun-datetime-picker/biaofun-datetime-picker.vue";
	import ssUploadImage from '@/components/ss-upload-image/ss-upload-image.vue'
	import akilaModal from '@/components/akila-modal/akila-modal.vue'
	var graceChecker = require("@/lib/uni-app/graceChecker.js");
	import moment from 'moment'
	export default {
		components: {
			datetimepicker,
			ssUploadImage,
			akilaModal
		},
		data() {
			return {
				timeStart: moment().format("YYYY-MM-DD HH:mm:ss"), //用于时间组件限制
				/** 表单绑定对象 */
				model: {
					type: "2",
					workContent: "",
					workOrderContent: "",
					workOrderTypeId: "",
					workOrderLevelId: "",
					positionId: null,
					enterpriseWechatUerId: "",
					remarks: ""
				},
				// 上传绑定对象
				files: [],
				workOrderId: undefined,
				type: '',
				modalShow: false,
				workoOrderTypeList: [],
				array: [{name:'中国'},{name: '美国'}, {name:'巴西'}, {name:'日本'}],
				index: null,
				levelList: [
					// '紧急': 1
					'紧急',
					// '加急': 2
					'加急',
					// '优先': 3
					'优先',
					// '一般': 4
					'一般'
				],
				levelIndex: null
			}
		},
		computed: {
			...mapState('user', {
				userInfo: (state) => state.userInfo,
				qyUserInfo: (state) => state.qyUserInfo
			}),
			...mapState('project', {
				projectDatas: (state) => state.projectDatas,
				selectedProject: (state) => state.selectedProject,
			})
		},
		watch: {
			selectedProject(val) {
				if (val)
					this.model.projectId = val.id;
				else
					this.model.projectId = undefined;
			}
		},
		mounted() {
			// console.log(navigator.userAgent)
			uni.setNavigationBarTitle({
				title: this.$t("addrepair")
			})
			this.identityCheck();
			this.getWorkOrderTypeList({}).then(res =>{
				this.workoOrderTypeList = res.filter(item => {
					return item.name !== '保养'
				})
			})
		},
		methods: {
			...mapMutations('project', ['setSelectedProject']),
			...mapActions('workOrder', ['addWorkAreaOrderAsync', 'batchUploadAsync', 'getPositionList', 'getWorkOrderTypeList']),
			...mapActions('project', ['getAllProjectInfoAsync']),
			async identityCheck() {
				return
				if (!this.qyUserInfo) {
					uni.navigateTo({
						url: `/pages/user/login?state=ReturnUrl&returnUrl=${encodeURIComponent(window.location.pathname + window.location.search)}`
					})
					return;
				}
				this.model.telephone = this.userInfo.phone;
			},
			subscribeTimeChange(e) {
				this.model.subscribeTime = e
			},
			async submit() {
				this.model.enterpriseWechatUerId = this.qyUserInfo.UserId
				this.model.workOrderLevelId = this.levelIndex === null ? this.levelIndex : this.levelIndex + 1
				this.model.workOrderTypeId = this.index === null ? this.index : this.workoOrderTypeList[this.index].id
				//定义表单规则
				var rule = [
					{
						name: "workOrderTypeId",
						checkType: "notnull",
						errorMsg: '请选择报修类型'
					}, {
						name: "positionId",
						checkType: "notnull",
						errorMsg: this.$t('select.position')
					}, {
						name: "workOrderContent",
						checkType: "notnull",
						errorMsg: '请输入报修内容'
					},
					{
						name: "workOrderLevelId",
						checkType: "notnull",
						errorMsg: '请选择报修优先级'
					},
					{
						name: "workContent",
						checkType: "notnull",
						errorMsg: '请输入具体位置'
					},
				];

				//进行表单检查
				var _self = this;
				var checkRes = graceChecker.check(this.model, rule);
				if (!checkRes) { //验证不通过
					uni.showToast({
						title: graceChecker.error,
						icon: "none"
					});
					return;
				}
				var formData = JSON.parse(JSON.stringify(this.model))
				formData.positionId = parseInt(formData.positionId)
				var result = await this.addWorkAreaOrderAsync({
					mask: true,
					data: formData,
					header: {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					btn: this.$refs.submitBtn
				})
				if (!result) {
					return;
				}
				//文件上传
				if (this.files && this.files.length > 0) {
					if (_self.$util.helper.isWinChat()) {
						this.uploadToWxSuccess(this.$refs.uploadImageComponent.fileArr)
					} else {
						this.workOrderId = result.workOrderId;
						this.$refs.submitBtn.play();
						this.$refs.uploadImageComponent.uploadToWx();
					}
				} else {
					this.applySuccess();
				}
			},
			async uploadToWxSuccess(serverArray) {
				var result = await this.batchUploadAsync({
					mask: true,
					data: {
						id: this.workOrderId,
						files: serverArray
					},
					btn: this.$refs.submitBtn
				});
				if (!result) {
					return;
				}
				this.applySuccess();
			},
			//提交成功
			applySuccess() {
				this.$refs.submitBtn.stop();
				this.$util.message.toast(this.$t('success'))
				uni.reLaunch({
					url: "./index"
				})
			},
			//描述修改
			descriptionChange(e) {
				this.model.workOrderContent = e.detail.value;
			},
			/** 项目选项卡 */
			projectSheet() {
				var btns = [{
					text: this.$t('addproject'),
					callback: this.goAddProject
				}];
				var _self = this;
				if (this.projectDatas)
					this.projectDatas.forEach(t => {
						btns.push({
							text: t.name,
							project: t,
							callback: _self.projectSheetCallback
						})
					})
				this.$util.actionSheet.open(btns);
			},
			projectSheetCallback(btn) {
				this.setSelectedProject(btn.project)
			},
			goAddProject() {
				uni.navigateTo({
					url: "/pages/user/bind-qr-scan?handle=addProject"
				})
			},
			showModalBox (e) {
				this.modalShow = e
			},
			selectWorkType (e) {
				console.log(e)
			},
			bindPickerChange: function(e) {
				this.index = e.detail.value
			},
			bindPickerChangeLevel (e) {
				this.levelIndex = e.detail.value
			}
		}
	}
</script>

<style scoped lang="scss">
	.form {
	}
	.input-count {
		display: flex;
		justify-content: flex-end;
		color: #ccc;
	}

	.upload {
		margin-top: 20rpx;
	}
	.uni-data-tree .uni-data-tree-input .input-value {
		height: 40px!important;
	}
	.form-card-item {
		height: 80rpx;
		line-height: 80rpx;
		margin-bottom: 10rpx;
	}
	.form-card-item-border-bottom {
		border-bottom: 1rpx solid #F1F1F1;
	}
	.form-card-item-left {
		width: 40px;
	}
	.form-card-item-right {
		width: 40px;
	}
	.form-font-size {
		font-size: 32rpx !important;
	}
</style>
