<!-- 工单详情页面 -->
<template>
	<view>
		<akila-page-load :loading="request.loading" :error="request.isError" @reload="init">
			<view class="work-header">
				<view class="work-status" style="padding-left: 60rpx; color: #007AFF;font-size: 32rpx !important;">
					<text class="iconfont icon-weixiu detail-icon" v-if="detail.preparedByTypeId === 1 || detail.preparedByTypeId ===7"></text>
					<text class="iconfont icon-gongdan detail-icon" v-else></text>
					{{ detail.preparedByTypeId ? statusType[detail.preparedByTypeId].name : '' }}
				</view>
				<view class="work-time" style="padding-left: 60rpx;">
					<text style="color: #999;">
						{{ formatTime(detail.modifiedDate) }}
					</text>
				</view>
				<view class="work-result" v-if="detail.workResult" style="font-size: 32rpx !important;">
					<view style="font-weight: 600;line-height: 60rpx;">
						报修结果
					</view>
					<view style="color: 666;">
						{{ detail.workResult }}
					</view>
					<view>
						<akila-album :items="photosIng"></akila-album>
					</view>
				</view>
			</view>
			<view class="card">
				<view style="font-size: 32rpx !important;">报修内容</view>
				<view style="color: #666;font-size: 28rpx;">
					{{ detail.workOrderContent }}
				</view>
				<view>
					<view class="album">
						<akila-album :items="images"></akila-album>
					</view>
				</view>
				<view style="font-size: 32rpx !important;">
					<text class="iconfont icon-weizhi1" style="font-size: 40rpx;"></text>
					{{ detail.address + ' ' + detail.workContent }}
				</view>
			</view>
			<view class="card">
				<view class="uni-flex uni-row form-card-item">
				    <view class="flex-item label" style="width: 120px;">
						报修编号:
					</view>
				    <view class="flex-item form-card-item-content">
						{{ detail.number }}
					</view>
				</view>
				<view class="uni-flex uni-row form-card-item">
				    <view class="flex-item label" style="width: 120px;">
						创建时间:
					</view>
				    <view class="flex-item form-card-item-content">
						{{ formatTime(detail.createTime) }}
					</view>
				</view>
				<view class="uni-flex uni-row form-card-item">
				    <view class="flex-item label" style="width: 120px;">
						报修类型:
					</view>
				    <view class="flex-item form-card-item-content">
						{{ detail.workOrderType }}
					</view>
				</view>
				
				<view class="uni-flex uni-row form-card-item">
				    <view class="flex-item label" style="width: 120px;">
						优先级:
					</view>
				    <view class="flex-item form-card-item-content">
						{{ detail.workOrderLevel }}
					</view>
				</view>
				
				<view class="uni-flex uni-row form-card-item">
				    <view class="flex-item label" style="width: 120px;">
						备注:
					</view>
				    <view class="flex-item form-card-item-content">
						<textarea :value="detail.remarks" placeholder="" style="font-size: 32rpx !important;" />
					</view>
				</view>
			</view>
		</akila-page-load>
	</view>
</template>

<script>
	import {
		mapState,
		mapMutations,
		mapGetters,
		mapActions
	} from "vuex";
	import SxRate from "@/components/sx-rate/index.vue"
	import JackyqSignature from "@/components/jackyq-signature/jackyq-signature.vue"
	var graceChecker = require("@/lib/uni-app/graceChecker.js");
	export default {
		components: {
			SxRate,
			JackyqSignature
		},
		data() {
			return {
				id: undefined,
				request: this.$util.createRequest(),
				model: undefined,
				evaluationModel: {
					starRating: 0,
					evaluationContent: ""
				},
				logsDatas: [],
				images: [],
				photosIng: [],
				signImg: undefined,
				signImageBase64: undefined,
				imagesStr: '',
				statusType: {
				    1: { name: '编制中', color: '#ECC344' },
				    2: { name: '待确认', color: '#ECC344' },
				    3: { name: '执行中', color: '#FF7424' },
				    4: { name: '已完成', color: '#2083FF' },
				    5: { name: '已完结', color: '#4CB230' },
				    7: { name: '待分配', color: '#2E5FFF' },
				    8: { name: '暂停中', color: '#F59A23' }
				}
			}
		},
		computed: {
			...mapState('user', {
				userInfo: (state) => state.userInfo,
				qyUserInfo: (state) => state.qyUserInfo
			}),
			detail() {
				if (!this.model || !this.model.list || this.model.list.length === 0)
					return {};
				let pid = this.model.list[0].preparedByTypeId;
				if (pid === 7) {
					pid = 1
				} else if (pid === 4 || pid === 8) {
					pid = 3
				}
				this.model.list[0].preparedByTypeId = pid
				return this.model.list[0];
			},
			workOrderPriceList() {
				if (!this.model || !this.model.workOrderPriceList.length === 0)
					return [];
				return this.model.workOrderPriceList;
			},
			demandSignatureUrlHttpUrl() {
				if (this.demandSignatureUrl.length == 0)
					return "";
				return this.utilObj + '/energys/energy' + this.demandSignatureUrl[0]
			},
			utilObj() {
				return this.$util.url.base._systemServer
			}
		},
		watch: {
			isShowSign(val) {
				if (val)
					this.$refs.signPopup.open();
				else
					this.$refs.signPopup.close();
			},
		},
		async mounted() {
			this.id = this.$route.query.id;
			uni.setNavigationBarTitle({
				title: this.$t("repair.detail")
			})
			this.identityCheck()
		},
		methods: {
			...mapMutations('user', ['setProjectCode']),
			...mapActions('user', ['setProjectCodeForceAsync']),
			...mapActions('workOrder', ['getWorAreakOrderListDetailAsync', 'getWorkOrderLogsAsync', 'getPictureUrlAsync',
				'wechatWorkOrderEvaluateAsync', 'wechatUploadWorkOrderSignatureAsync', 'getWorkOrderSignatureAsync',
			]),
			//身份验证
			async identityCheck() {
				if (!this.qyUserInfo) {
					uni.navigateTo({
						url: `/pages/user/login?state=ReturnUrl&returnUrl=${encodeURIComponent(window.location.pathname + window.location.search)}`
					})
					return;
				}
				this.init();
			},
			//初始化
			async init() {
				this.request.data = {
					id: this.id
				};
				var _self = this;
				//获取主体内容
				this.model = await this.getWorAreakOrderListDetailAsync(this.request);
				if (!this.model)
					return;
				console.log(this.detail)
				// //获取图片
				// var images = await this.getPictureUrlAsync({
				// 	data: {
				// 		id: this.id
				// 	}
				// })
				// if (images) {
				// 	this.images = images.photosAdd || [];
				// 	this.photosIng = images.photosIng || [];
				// } 
				if (this.detail.ossWorkOrderAddPhotoUrl)
					this.images = this.$util.helper.trimEnd(this.detail.ossWorkOrderAddPhotoUrl, ',').split(',');
					// const ss = this.images.map(item => {
					// 	return item.replace('https', 'http')
					// })
					// this.images = ss // 58 http 图片https 导致不显示
				if (this.detail.ossWorkOrderPhotoUrl)
					this.photosIng = this.$util.helper.trimEnd(this.detail.ossWorkOrderPhotoUrl, ',').split(',');
				if (this.detail.ossDemandSignatureUrl)
					this.signImg = this.$util.helper.trimEnd(this.detail.ossDemandSignatureUrl, ',');

			},
			descriptionChange(e) {
				this.evaluationModel.evaluationContent = e.detail.value;
			},
			// 签字完成
			confirmSign(e) {
				this.signImageBase64 = e;
			},
			//评价
			async evaluation() {
				//定义表单规则
				var rule = [{
					name: "starRating",
					checkType: "between",
					checkRule: "1,5",
					errorMsg: this.$t('please.rate.service')
				}];
				//进行表单检查
				var _self = this;
				var checkRes = graceChecker.check(this.evaluationModel, rule);
				if (!checkRes) { //验证不通过
					uni.showToast({
						title: graceChecker.error,
						icon: "none"
					});
					return;
				}
				if (!this.signImageBase64) {
					this.$util.message.toast(this.$t('please.signature'))
					return;
				}

				var result = await this.wechatUploadWorkOrderSignatureAsync({
					mask: true,
					data: {
						id: this.detail.id,
						imgBase64: this.signImageBase64
					}
				});
				if (!result)
					return;

				this.evaluationModel.id = this.detail.id;
				result = await this.wechatWorkOrderEvaluateAsync({
					mask: true,
					data: this.evaluationModel
				});
				if (!result)
					return;
				this.$util.message.toast("操作成功");
				this.init();
			},
			formatTime (time) {
				if (time && time.indexOf('T') !== -1) {
					return time.substr(0, 19).replace(/T/g, ' ')
				} else {
					return time
				}
			}
		}
	}
</script>

<style scoped lang="less">
	.materials {
		.material-item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			line-height: 40rpx;
			text-align: center;

			view {
				flex: 1;
			}
		}
	}

	.album {
		margin-top: 20rpx;
	}

	.signature {
		width: 100%;
		height: 200px;
	}
	.work-header {
		background: #fff;
		padding: 20rpx;
		line-height: 60rpx;
	}
	.work-result {
		background: #F4F4F4;
		padding: 20rpx;
	}
	
	.form-card-item {
		min-height: 60rpx;
		line-height: 60rpx;
		font-size: 32rpx !important;
	}
	.form-card-item .label {
		color: #999;
	}
	.form-card-item-content {
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: flex-end;
		width: 100%;
	}
	.album {
		margin-top: 20rpx;
	}
	.detail-icon {
		font-size: 40rpx;
		margin-right: 10rpxpx;
		position: absolute;
		left: 20rpx;
		top: 10rpx;
	}
</style>
