<template>
	<view class="work-content">
		<akila-loading v-if="load"></akila-loading>
		<view v-else>
			<view class="work-list" v-if="workOrderList.length">
				<!-- 分页列表 -->
				<akila-list v-model="queryModel.loading" :finished="!queryModel.hasMore" :error="queryModel.isError" @reload="refresh">
					<template v-for="item of workOrderList">
						<work-order-list-item :item="item"></work-order-list-item>
					</template>
				</akila-list>
				<text class="iconfont icon-xinzeng add-work-icon" @click="addWork()"></text>
			</view>
			<view class="work-no-list" v-else="workOrderList.length">
				<view>
					<image src="../../static/work-no-list.png" mode="aspectFit" class="mp-qrcode"></image>
				</view>
				<view style="line-height: 120rpx;">暂无报修</view>
				<view style="padding: 0 10rpx;">
					<button type="primary" size="mini" class="add-work" @click="addWork">添加报修</button>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import WorkOrderListItem from './components/work-order-list-item.vue';
	import {
		mapState,
		mapMutations,
		mapGetters,
		mapActions
	} from "vuex";
	import md5 from "js-md5"
	
	export default {
		components: {
			WorkOrderListItem
		},
		data () {
			return {
				model: {},
				workOrderList: [],
				queryModel: this.$util.createPagerQuery(),//查询对象,
				request: this.$util.createRequest(),
				load: false
			}
		},
		computed: {
			...mapState("user", {
				userInfo: (state) => state.userInfo,
				qyUserInfo: (state) => state.qyUserInfo
			}),
		},
		watch: {},
		created() {
			this.load = true
		},
		mounted() {
			uni.setNavigationBarTitle({
				title: "报修列表"
			})
			uni.setNavigationBarColor({  
			    frontColor: '#ffffff',  
			    backgroundColor: '#15750a',  
			    animation: {  
			        duration: 400,  
			        timingFunc: 'easeIn'  
			        }  
			})
			if (!this.$route.query.projectCode && !this.qyUserInfo) {
				this.$util.message.toast("请设置正确的应用链接地址")
				return
			}
			if (this.$route.query.projectCode) {
				this.setProjectCode(this.$route.query.projectCode)
			}
			this.queryModel.header = this.queryModel.header || {};
			this.identityCheck();
		},
		methods: {
			...mapMutations('user', ['setProjectCode']),
			...mapActions("workOrder", ["workAreaOrderPagerQueryAsync"]),
			...mapActions("user", ["loginAccount"]),
			async identityCheck() {
				if (!this.qyUserInfo) {
					uni.navigateTo({
						url: `/pages/user/login?state=ReturnUrl&returnUrl=${encodeURIComponent(window.location.pathname + window.location.search)}`
					})
					return;
				}
				this.query(true);
			},
			addWork () {
				uni.navigateTo({
					url: "/pages/workorder/add"
				})
			},
			// 查询执行
			async query(isRefresh) {
				if (this.queryModel.loading)
					return;
				if (isRefresh)
					this.queryModel.clear();
				this.queryModel.data.userId = this.qyUserInfo.UserId
				var data = await this.workAreaOrderPagerQueryAsync(this.queryModel);
				uni.stopPullDownRefresh();
				if (isRefresh) this.workOrderList = [];
				console.log(data)
				if (data) {
					data.data = data.data.map(item => {
						item.preparedByTypeId = (item.preparedByTypeId === null || item.preparedByTypeId === 'null') ? 2 : parseInt(item.preparedByTypeId)
						const pid = item.preparedByTypeId
						if (item.preparedByTypeId === 7) {
							item.preparedByTypeId = 1
						} else if (item.preparedByTypeId === 4 || item.preparedByTypeId === 8) {
							item.preparedByTypeId = 3
						}
						if (pid === 2) {
							item.currentTime = this.formatTime(item.distributionTime)
						} else if (pid === 3) {
							item.currentTime = this.formatTime(item.confirmTime)
						} else if (pid === 4) {
							item.currentTime = this.formatTime(item.completeTime)
						} else if (pid === 5) {
							item.currentTime = this.formatTime(item.signTime)
						} else {
							item.currentTime = this.formatTime(item.createDate)
						}
						return item
					})
					this.workOrderList.push(...data.data);
				}
				this.load = false
			},
			// 加载更多
			loadMore(e) {
				if (!this.queryModel.canLoadmore) return;
				this.queryModel.nextPage();
				this.query();
			},
			// 下拉刷新
			async refresh() {
				await this.query(true);
				uni.stopPullDownRefresh();
			},
			async loginAccounts () {
				const password = md5('Aa111111')
				this.request.header = {
					"Content-Type": "application/x-www-form-urlencoded"
				}
				this.request.data = {
					username: 'yr001',
					password: password,
					platform: false
				}
				var user = await this.loginAccount(this.request);
				if (!user) {
					this.$util.message.toast("登录失败")
				}
			},
			formatTime (time) {
				if (time.indexOf('T') !== -1) {
					return time.substr(0, 19).replace(/T/g, ' ')
				} else {
					return time
				}
			}
		},
		//下拉监听
		onPullDownRefresh() {
			this.refresh();
		},
		//滚动到底监听
		onReachBottom() {
			this.loadMore()
		},
	}
</script>

<style scoped>
	uni-page-body {
	}
	.work-content {
	}
	.work-list {
		width: 100%;
		height: 100%;
	}
	.add-work-icon {
		position: fixed;
		width: 80rpx;
		height: 80rpx;
		right: 30rpx;
		bottom: 80rpx;
		font-size: 80rpx;
		color: #395AEA;
	}
	.add-work-icon::before {
		background: #fff;
		border-radius: 50%;
	}
	.work-no-list {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	.mp-qrcode {
		display: block;
		height: 300rpx;
		width: 300rpx;
		margin: 0 auto;
	}
	.add-work {
		border-radius: 30rpx;
		background: #395AEC;
	}
</style>
