<template>
	<view class="card" @tap="goDetail">
		<view class="header">
			<text>{{item.number}}</text>
			<text style="color: #007AFF;">{{ statusType[item.preparedByTypeId].name }}</text>
		</view>
		<view class="content">
			<view class="remark">
				<text>{{item.workOrderContent}}</text>
			</view>
		</view>
		<view class="footer" style="justify-content: flex-start;color: #888;">
			{{ item.currentTime }}
		</view>
	</view>
</template>

<script>
	export default {
		data () {
			return {
				statusType: {
			        1: { name: '分配中', color: '#ECC344' },
			        2: { name: '待确认', color: '#ECC344' },
			        3: { name: '执行中', color: '#FF7424' },
			        4: { name: '已完成', color: '#2083FF' },
			        5: { name: '已完结', color: '#4CB230' },
			        7: { name: '待分配', color: '#2E5FFF' },
			        8: { name: '暂停中', color: '#F59A23' }
				}
				
			}
		},
		props:['item'],
		methods: {
			goDetail() {
				uni.navigateTo({
					url: "/pages/workorder/detail?id=" + this.item.id
				})
			}
		}
	}
</script>

<style scoped lang="less">
	.header {
		color: #999;
		font-size: 28rpx;
	}
	.content {
	}
	.status {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10rpx;
	}
</style>
