<template>
	<view class="upload">
		<view class="list">
			<view class="item interval" v-for="(item,index) in files" :key="index">
				<image :src="item.base64 || item.localId" v-if="item" @click="preview(item,index)"></image>
				<view class="icon-close" @click.stop="handleRemove(index)">
					<uni-icons :type="'trash'" />
				</view>
			</view>
			<view class="item" @click="chooseImage" v-if="files.length<limit">
				<uni-icons :type="'plusempty'" style="font-size: 64rpx; color: #BDBBBE;" />
			</view>
		</view>
	</view>
</template>

<!-- <script src="ttps://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script> -->
<script>
	import {
		mapState,
		mapMutations,
		mapGetters,
		mapActions
	} from "vuex";
	var wx = require('weixin-js-sdk')
	export default {
		props: {
			limit: {
				type: Number,
				default: 9
			},
			url: {
				type: String,
				required: true
			},
			name: {
				type: String,
				default: 'file'
			},
			formData: {
				type: Object,
				default () {
					return {}
				}
			},
			header: {
				type: Object,
				default () {
					return {}
				}
			},
			files: {
				type: Array,
				default () {
					return []
				}
			}
		},
		data() {
			return {
				list: '',
				fileArr: []
			}
		},
		model: {
			prop: "files",
			event: "change"
		},
		computed: {
			...mapState("user", {
				wxConfig: (state) => state.wxConfig,
				accessToken: (state) => state.accessToken
			}),
		},
		mounted() {
		},
		methods: {
			...mapActions('workOrder', ['getPictureUrlByServerId']),
			...mapActions('wechat', ['registSdkAsync']),
			//选择文件
			async chooseImage() {
				await this.registSdkAsync();
				var _self = this;
				wx.chooseImage({
					count: 9, // 默认9
					sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
					sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
					success: function(res) {
						console.log(res)
						if (!res)
							return;
						var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
						if (!localIds || localIds.length === 0)
							return;
						console.log(localIds);
						if (_self.$util.helper.isIos()) {
							_self.loadBase64Data(localIds, 0);
						} else if (_self.$util.helper.isWinChat()) {
							for (var i = 0; i < localIds.length; i++) {
								var localId = localIds[i];
								_self.files.push({
									localId: localId
								});
							}
							_self.guploadToQyWx()
						} else {
							for (var i = 0; i < localIds.length; i++) {
								var localId = localIds[i];
								_self.files.push({
									localId: localId
								});
							}

						}
					}
				})
			},
			loadBase64Data(localIds, loadIndex) {
				if (localIds.length <= loadIndex)
					return;
				var _self = this;
				var localId = localIds[loadIndex];
				wx.getLocalImgData({
					localId: localId, // 图片的localID
					success: res => {
						var localData = res.localData; // localData是图片的base64数据，可以用img标签显示
						// console.log(window.__wxjs_is_wkwebview ? localData.replace('jpg','jpeg') : 'data:image/jpeg;base64,' + localData)
						_self.files.push({
							base64: localData,
							localId: localId
						});
						_self.loadBase64Data(localIds, loadIndex + 1);
					}
				});
			},
			// 企业微信windows版 获取图片url
			getImageUrlList (localIds, localIndex) {
				if (localIds.length <= localIndex)
				return;
			},
			//删除处理
			handleRemove(index) {
				this.files.splice(index, 1);
			},
			//放大展示
			preview(item, i) {
				if (this.files.length === 0)
					return;
				uni.previewImage({
					urls: this.files.map(t => t.base64 || t.localId),
					current: i
				})
			},
			uploadToWx() {
				if (this.files.length === 0) {
					this.$emit('uploadToWxSuccess', []);
					return;
				}
				var totalCount = this.files.length;
				var resultArray = []
				this.uploadTodo(resultArray, 0);
			},
			uploadTodo(resultArray, index) {
				var _self = this;
				var localId = this.files[index].localId;
				console.log(localId)
				this.$util.loading.show();
				wx.uploadImage({
					localId: localId, // 需要上传的图片的本地ID，由chooseImage接口获得
					isShowProgressTips: 0,
					success: function(res) {
						var serverId = res.serverId; // 返回图片的服务器端ID
						console.log(serverId)
						resultArray.push(serverId);
						if (resultArray.length === _self.files.length) {
							_self.$util.loading.hide();
							_self.$emit('uploadToWxSuccess', resultArray);
							return
						}
						_self.uploadTodo(resultArray, index + 1);
					}
				});
			},
			async uploadToQyWx () {
				if (this.files.length === 0) {
					return;
				}
				var totalCount = this.files.length;
				this.fileArr = []
				await this.uploadQyTodo(fileArr, 0);
			},
			uploadQyTodo (resultArray, index) {
				var _self = this;
				var localId = this.files[index].localId;
				this.$util.loading.show();
				wx.uploadImage({
					localId: localId, // 需要上传的图片的本地ID，由chooseImage接口获得
					isShowProgressTips: 0,
					success: function(res) {
						var serverId = res.serverId; // 返回图片的服务器端ID
						resultArray.push(serverId);
						this.getPictureUrlByServerId({
							data: {
								files: [serverId]
							}
						}).then(re => {
							if (re) {
								console.log(re)
								if (re) {
									this.files[index].base64 = null
								}
							}
						})
						if (resultArray.length === _self.files.length) {
							_self.$util.loading.hide();
							return
						}
						_self.uploadTodo(resultArray, index + 1);
					}
				});
			}
		}
	}
</script>

<style lang="scss" scoped>
	.upload {

		.list {
			display: flex;
			flex-wrap: wrap;

			.item {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 140rpx;
				height: 140rpx;
				border-radius: 8rpx;
				background-color: #F6F3F7;
				margin-bottom: 20rpx;

				&.interval {
					margin-right: 16rpx;
					border: none;
				}

				image {
					width: 100%;
					height: 100%;
					border-radius: 8rpx;
					margin: 0;
				}

				.icon-close {
					position: absolute;
					top: 0;
					right: 0;
					width: 28rpx;
					height: 28rpx;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 0 8rpx 0 0;
				}

				.icon {
					width: 48rpx;
					height: 48rpx;
				}
			}
		}
	}
</style>
